extends ./layout/index.pug
block compartircontenido 
    
    main.mt-3.main

        .row.m-auto.d-flex.justify-content-center                      
            
            h3.span.text-center.display-4 Agregar Habitación 
                form.form(id="uploadForm" action="/habitacion" method="POST") 
                    if(errores)
                        each error in errores 
                            .alert.col.alert-danger.text-center.w-100=error.mensaje   
                    input.w-100.m-3.p-1.rounded(type="text" placeholder="Escribe el tipo de habitación" name="tipo" value=tipo)
                    input#myFiles(type='file' accept='image/*' multiple='' name="imagen" onChange="changeValue()")
                    label.row.flex-column.content-upload.w-100(for="myFiles")
                        img.upload.m-auto(src="/img/upload.svg")
                        label.myFiles(for="myFiles") Subir archivos
                    span Se han seleccionado 
                        span#filles 0
                        |  archivos
                    div.w-100.d-flex.justify-content-around.mt-4.mb-4
                        button.btn.btn-primary.p-2.pl-4.pr-4.btnEdit(type="submit" onClick="sendFiles()") Aceptar
                        a.btn.btn-danger.p-2.pl-4.pr-4.btnDelete(href="/habitacion") Cancelar
                        
        script. 
            const form = document.getElementById('uploadForm');

            const sendFiles = async () => {
                
                const myFiles = document.getElementById('myFiles').files

                const formData = new FormData()

                Object.keys(myFiles).forEach( key => {
                    formData.append(myFiles.item(key).name, myFiles.item(key))
                })

                const response = await fetch('https://hotelszacatlan.fly.dev/upload_hbt', {
                    method: 'POST',
                    body: formData
                })

                const json = await response.json()
            }
            const changeValue = () => {
                let files = document.getElementById('myFiles').files.length
                document.getElementById('filles').innerHTML= files +' ';
                console.log(files);
            }
