extends ./layout/index.pug
block compartircontenido 
    
    main.mt-3.main
        h1.text-center.mb-4

        .row.m-auto.d-flex.justify-content-center                      
            
            h3.span.text-center.display-4 Agregar Hotel 
                form.form(id="uploadForm" action="/hotel" method="POST") 
                    if(errores)                            
                            each error in errores 
                                .alert.col.alert-danger.text-center.w-100=error.mensaje   
                    input.w-100.m-3.p-1.rounded(type="text" placeholder="Escribe el nombre..." name="nombre" value=nombre)
                    input.w-100.m-3.p-1.rounded(type="text" placeholder="Escribe la dirección..." name="direccion" value=direccion)
                    input.w-100.m-3.p-1.rounded(type="number" placeholder="Escribe el teléfono..." name="telefono" value=telefono)
                    input.w-100.m-3.p-1.rounded(type="email" placeholder="Escribe el correo..." name="correo" value=correo)
                    select#selectO.w-100.m-3.select.rounded(name="gerente" value=gerente)
                        option(selected='true' disabled='disabled' multiple) Elige al gerente
                        each gerente in gerentes
                            option.option(value=gerente) #{gerente} 
                    input#myFiles(type='file' accept='image/*' multiple='' name="imagen" onChange="changeValue()")
                    label.row.flex-column.content-upload.w-100(for="myFiles")
                        img.upload.m-auto(src="/img/upload.svg")
                        label.myFiles(for="myFiles") Subir archivos
                    span Se han seleccionado 
                        span#filles 0
                        |  archivos
                    .form-group.contenedor.w-100
                            .list-items.mb-2
                                label.item.slc Selecciona las habitaciones
                                label.mb-0.item.disabled.d-flex.alig-items-center
                                each habitacion in habitaciones
                                    if habitacion.nombre == habitacion
                                        label.mb-0.item.d-flex.alig-items-center.hbt
                                            input.item(type="checkbox" name="habitaciones" checked value=habitacion.tipo class="mr-5") 
                                            | #{habitacion.tipo} 
                                    else 
                                        label.mb-0.item.d-flex.alig-items-center.hbt
                                            input.item(type="checkbox" name="habitaciones" value=habitacion.tipo class="mr-5") 
                                            | #{habitacion.tipo} 
                    div.w-100.h-100.row.flex-row.justify-content-around.mt-2.pb-4
                        if (gerentes.length != 0 && habitaciones.length != 0)
                            button.btn.btn-primary.p-2.pl-4.pr-4.btnEdit(type="submit" onClick="sendFiles()") Aceptar
                            a.btn.btn-danger.p-2.pl-4.pr-4.btnDelete(href="/hotel") Cancelar
                        else 
                            h4.text-center No hay suficientes gerentes o  
                                br 
                                | habitaciones para asignar              
                            a.btn.btn-danger.p-2.pl-4.pr-4.btnDelete(href="/hotel") Cancelar
                        
        script. 
            const form = document.getElementById('uploadForm');
            const sendFiles = async () => {
                
                const myFiles = document.getElementById('myFiles').files

                const formData = new FormData()

                Object.keys(myFiles).forEach( key => {
                    formData.append(myFiles.item(key).name, myFiles.item(key))
                })

                const response = await fetch('https://hotelszacatlan.fly.dev/upload', {
                    method: 'POST',
                    body: formData
                })

                const json = await response.json()
            }
            const changeValue = () => {
                let files = document.getElementById('myFiles').files.length
                document.getElementById('filles').innerHTML= files;
                console.log(files);
            }