extends ./layout/index.pug
block compartircontenido 
    main.mt-3.main
        h3.span.text-center.display-4 Editar Hotel 
        .row.m-auto.d-flex.justify-content-center
            form.form(id="uploadForm" action=`/hotel/edit/${hotel.id_htl}` method="POST") 
                if(errores)
                    each error in errores 
                        .alert.col.alert-danger.text-center=error.mensaje    
                input.w-100.m-3.pt-1.pb-1.pl-1.rounded(type="text" placeholder="Escribe el nombre..." name="nombre" value=hotel.nombre)
                input.w-100.m-3.pt-1.pb-1.pl-1.rounded(type="text" placeholder="Escribe la dirección..." name="direccion" value=hotel.direccion)
                input.w-100.m-3.pt-1.pb-1.pl-1.rounded(type="number" placeholder="Escribe el teléfono..." name="telefono" value=hotel.telefono)
                input.w-100.m-3.pt-1.pb-1.pl-1.rounded(type="email" placeholder="Escribe el correo..." name="correo" value=hotel.correo)
                select#selectO.w-100.m-3.pt-1.pb-1.pl-1.select.rounded(name="id_grt" value=hotel.id_grt)
                    each gerente in gerentes
                        option(value=gerente.nombre) #{gerente.nombre} 
                .form-group.contenedor.w-100
                            .list-items.mb-2
                                label.item.slc Selecciona las habitaciones
                                label.mb-0.item.disabled.d-flex.alig-items-center
                                each habitacion in habitaciones
                                    if hotel.id_htl == habitacion.id_htl
                                        label.mb-0.item.d-flex.alig-items-center.hbt
                                            input.item(type="checkbox" name="habitaciones" checked value=habitacion.tipo class="mr-5") 
                                            | #{habitacion.tipo} 
                                    else 
                                        label.mb-0.item.d-flex.alig-items-center.hbt
                                            input.item(type="checkbox" name="habitaciones" value=habitacion.tipo class="mr-5") 
                                            | #{habitacion.tipo} 
                input#myFiles(type='file' accept='image/*' multiple='' name="imagen" onChange="changeValue()")
                label.row.flex-column.content-upload.w-100(for="myFiles")
                    img.upload.m-auto(src="/img/upload.svg")
                    label.myFiles(for="myFiles") Subir archivos
                span Se han seleccionado 
                        span#filles 0
                        |  archivos
                .form-group.contenedor.w-100
                            .list-items.mb-2
                                label.item.slc.text-center Selecciona las imágenes
                                label.mb-0.item.disabled.d-flex.alig-items-center
                                if(imagenes.length > 0)
                                    each imagen in imagenes
                                        label.mb-0.item.d-flex.alig-items-center.justify-content-center.hbt
                                            input.item(type="checkbox" name="imagenes" checked value=imagen.nombre class="mr-5") 
                                            img.imageEditHotel.w-25.m-1(src=`/img/hotel/${imagen.nombre}`)
                                else 
                                    h4 No tiene imágenes
                div.w-100.d-flex.justify-content-around.mt-2.pb-4
                    if (gerentes.length != 0 && habitaciones.length != 0)
                        button.btn.btn-primary.p-2.pl-4.pr-4.btnEdit(type="submit" onClick="sendFiles()") Aceptar
                        a.btn.btn-danger.p-2.pl-4.pr-4.btnDelete(href="/hotel") Cancelar
                    else 
                        h4.text-center No hay suficientes gerentes o  
                            br 
                            | habitaciones para modificar                                           
                        a.btn.btn-danger.p-2.pl-4.pr-4.btnDelete(href="/hotel") Cancelar
        script. 
            const form = document.getElementById('uploadForm');

            const sendFiles = async () => {
                
                const myFiles = document.getElementById('myFiles').files

                const formData = new FormData()

                Object.keys(myFiles).forEach( key => {
                    formData.append(myFiles.item(key).name, myFiles.item(key))
                })

                const response = await fetch('https://hotelszacatlan.fly.dev/upload', {
                    method: 'POST',
                    body: formData
                })

                const json = await response.json()
            }
            const changeValue = () => {
                let files = document.getElementById('myFiles').files.length
                document.getElementById('filles').innerHTML= files +' ';
                console.log(files);
            }