extends ./layout/index.pug
block compartircontenido 
    main.mt-3.main
        h2.text-center Editar Habitación
        .row.m-auto.d-flex.justify-content-center
                
            form.form(action=`/habitacion/edit/${habitacion.id_hbt}` method="POST") 
                if(errores)
                                each error in errores 
                                    .alert.col.alert-danger.text-center=error.mensaje   
                input.w-100.m-3.p-1.rounded(type="text" placeholder="Escribe el piso..." name="tipo" value=habitacion.tipo)
                input#myFiles(type='file' accept='image/*' multiple='' name="imagen" onChange="changeValue()")
                label.row.flex-column.content-upload.w-100(for="myFiles")
                    img.upload.m-auto(src="/img/upload.svg")
                    label.myFiles(for="myFiles") Subir archivos
                span Se han seleccionado 
                    span#filles 0
                    |  archivos
                .form-group.contenedor.w-100
                            .list-items.mb-2
                                label.item.slc.text-center Selecciona las imágenes
                                label.mb-0.item.disabled.d-flex.alig-items-center
                                if(imagenes.length > 0)
                                    each imagen in imagenes
                                        label.mb-0.item.d-flex.alig-items-center.justify-content-center.hbt
                                            input.item(type="checkbox" name="imagenes" checked value=imagen.nombre class="mr-5") 
                                            img.imageEditHotel.w-25.m-1(src=`/img/habitacion/${imagen.nombre}`)
                                else 
                                    h4 No tiene imágenes
                div.w-100.d-flex.justify-content-around.mt-4.mb-4
                        button.btn.btn-primary.p-2.pl-4.pr-4.btnEdit(type="submit" onClick="sendFiles()") Aceptar
                        a.btn.btn-danger.p-2.pl-4.pr-4.btnDelete(href="/habitacion") Cancelar

        script. 
            const form = document.getElementById('uploadForm');

            const sendFiles = async () => {
                
                const myFiles = document.getElementById('myFiles').files

                const formData = new FormData()

                Object.keys(myFiles).forEach( key => {
                    formData.append(myFiles.item(key).name, myFiles.item(key))
                })

                const response = await fetch('https://hotelszacatlan.fly.dev/upload_hbt', {
                    method: 'POST',
                    body: formData
                })

                const json = await response.json()
            }  
            const changeValue = () => {
                let files = document.getElementById('myFiles').files.length
                document.getElementById('filles').innerHTML= files +' ';
                console.log(files);
            }      