extends ./layout/index.pug
block compartircontenido 
    main.mt-3.main
        h2.text-center Editar Gerente
        .row.m-auto.d-flex.justify-content-center
                
            form.form(action=`/gerente/edit/${gerente.id_grt}` method="POST") 
                if(errores)
                                each error in errores 
                                    .alert.col.alert-danger.text-center=error.mensaje   
                input.w-100.m-3.p-1.rounded(type="text" placeholder="Escribe el nombre..." name="nombre" value=gerente.nombre)
                input.w-100.m-3.p-1.rounded(type="text" placeholder="Escribe el primer apellido..." name="apellido_materno" value=gerente.apellido_materno)
                input.w-100.m-3.p-1.rounded(type="text" placeholder="Escribe el segundo apellido..." name="apellido_paterno" value=gerente.apellido_paterno)
                input.w-100.m-3.p-1.rounded(type="number" placeholder="Escribe el teléfono..." name="telefono" value=gerente.telefono)
                input#myFiles(type='file' accept='image/*' name="imagen" onChange="changeValue()")
                label.row.flex-column.content-upload.w-100(for="myFiles")
                    img.upload.m-auto(src="/img/upload.svg")
                    label.myFiles(for="myFiles") Subir archivos
                span Se han seleccionado 
                    span#filles 0
                    |  archivos
                .form-group.contenedor.w-100
                            .list-items.mb-2.bg-transparent
                                label.mb-0.item.disabled.d-flex.alig-items-center
                                if(imagen != null)
                                    label.mb-0.item.d-flex.alig-items-center.justify-content-center.hbt
                                        input.item(type="checkbox" name="imagenes" checked value=imagen.nombre class="mr-5") 
                                        img.imageEditHotel.m-1(src=`/img/gerente/${imagen.nombre}`)
                                else 
                                    h4 No tiene imagen
                div.w-100.d-flex.justify-content-around.mt-2.mb-4
                    button.btn.btn-primary.p-2.pl-4.pr-4.btnEdit(type="submit" onClick="sendFiles()") Aceptar
                    a.btn.btn-danger.p-2.pl-4.pr-4.btnDelete(href="/gerente") Cancelar

        

        script. 
            const form = document.getElementById('uploadForm');

            const sendFiles = async () => {
                
                const myFiles = document.getElementById('myFiles').files

                const formData = new FormData()

                Object.keys(myFiles).forEach( key => {
                    formData.append(myFiles.item(key).name, myFiles.item(key))
                })

                const response = await fetch('https://hotelszacatlan.fly.dev/upload_grt', {
                    method: 'POST',
                    body: formData
                })

                const json = await response.json()
            }    
            const changeValue = () => {
                let files = document.getElementById('myFiles').files.length
                document.getElementById('filles').innerHTML= files +' ';
                console.log(files);
            } 