extends ./layout/index.pug
block compartircontenido 
    main.mt-3.main
        h1.text-center.mb-4 Gerentes
        .row.m-auto.d-flex.justify-content-center

            table.table.table-striped.w-100.m-4.text-center
                    tr 
                        td.col-2.name Gerente
                        td.col-2.name Apellido materno
                        td.col-2.name Apellido paterno
                        td.col-2.name Teléfono
                        td.col.name Hotel
                        td.col.name Imagen 
                        td.col.name(colspan="2")
                            a.btn.btn-success.p-2(href=`/gerente/add`) Agregar Gerente
                        td.col.name 
                    each gerente in gerentes
                        tr 
                            td.col-2 #{gerente.nombre}
                            td.col-4 #{gerente.apellido_materno}
                            td.col-2 #{gerente.apellido_paterno}
                            td.col-2 #{gerente.telefono}
                            if(gerente.hotele != null)
                                td.col-2 #{gerente.hotele.nombre}
                            else 
                                td.col-2.text-danger Sin hotel
                            if(gerente.gerente_imagene != null)
                                td.col-2
                                    img.w-100.m-1(src=`../img/gerente/${gerente.dataValues.gerente_imagene.nombre}`)
                                    br
                            else
                                td.col-2.text-danger Sin imágenes
                            td.col-2
                                a.btn.btn-primary(href=`/gerente/edit/${gerente.id_grt}`)  Modificar
                            td.col
                                a.btn.btn-danger(href=`/gerente/${gerente.id_grt}`)  Eliminar           