extends ./layout/index.pug
block compartircontenido 
    main.mt-3.main
        h1.text-center.mb-4 Habitaciones

        .row.m-auto.d-flex.justify-content-center        
            table.table.table-striped.w-75.m-4.text-center
                        tr
                            td.col-1.name Tipo
                            td.col-1.name Hotel
                            td.col-2.name Imágenes
                            td.col-2.name(colspan="2")
                                a.btn.btn-success.p-2.text-light(href=`/habitacion/add`) Agregar Habitación
                        each habitacion in habitaciones
                            tr 
                                td.col-1 #{habitacion.tipo}
                                if(habitacion.hotele != null)
                                    td.col-1 #{habitacion.hotele.nombre}
                                else
                                    td.col-2.text-danger Sin hotel
                                if(habitacion.habitacion_imagenes.length != 0)
                                    td.col-2.p2
                                        .img-content
                                            each imagen in habitacion.habitacion_imagenes
                                                img.w-50.m-1(src=`../img/habitacion/${imagen.nombre}`)
                                                br
                                else
                                    td.col-2.text-danger Sin imágenes
                                td.col-1
                                    a.btn.btn-primary.text-light(href=`/habitacion/edit/${habitacion.id_hbt}`)  Modificar
                                td.col-1
                                    a.btn.btn-danger.text-light(href=`/habitacion/${habitacion.id_hbt}`)  Eliminar            