extends ./layout/index.pug
block compartircontenido

    h1.m-4.span Sistema Administrativo de Hoteles Zacatl&aacute;n
      main.mt-4.w-100.d-flex.justify-content-center
        .row.w-75
          p.textExplain Al tener acceso a este portal ahora puedes modificar la cantidad de hoteles, gerentes y 
            | habitaciones así como sus respectivos atributos e imágenes 
            br
            | También podrás agregar nuevos hoteles, gerentes o habitaciones son las características que 
            | desees y nuevas imágenes. 
            br
            | Todos los cambios que realices se verán reflejados en la base de datos en tiempo real 
            | y por ende en la página de publicidad, es en esta donde los clientes sin acceso al 
            | sistema administrativo podrán observar los hoteles disponibles con su respectivo gerente y habitación 
            | o habitaciones correspondientes