extends ./layout/index.pug
block compartircontenido 
    
    main.mt-3.main
        h1.text-center.mb-4 Hoteles

        .row.m-auto.d-flex.justify-content-center 
         
            table.table.table-striped.w-100.m-4.text-center
                    tr
                        td.col-2.name Hotel
                        td.col-2.name Dirección
                        td.col-2.name Telefono
                        td.col-2.name Correo
                        td.col.name Gerente 
                        td.col.name Habitaciones
                        td.col.name Imágenes
                        td.col.name(colspan="2")
                            if (gerentes.length != 0 && habitaciones.length != 0)
                                a.btn.btn-success.p-2.text-light(href=`/hotel/add`) Agregar Hotel
                            else 
                                p.tin No hay suficientes gerentes o habitaciones
                        td.col.name 
                    each hotel in hoteles 
                        tr 
                            td.col-2 #{hotel.nombre}
                            td.col-2 #{hotel.direccion}
                            td.col-2 #{hotel.telefono}
                            td.col-2 #{hotel.correo}
                            if(hotel.gerente != null)
                                td.col-2 #{hotel.gerente.nombre} #{hotel.gerente.apellido_materno}
                            else 
                                td.col-2.text-danger Sin gerente
                            if(hotel.habitaciones.length > 0)
                                td.col-2 
                                    each habitacion in hotel.habitaciones
                                        | #{habitacion.tipo} 
                                        br
                            else 
                                td.col-2.text-danger Sin habitaciones
                            if(hotel.hotel_imagenes.length != 0)
                                td.col-2.p2
                                    .img-content
                                        each hotel_imagen in hotel.hotel_imagenes
                                            img.w-100.m-1.img(src=`../img/hotel/${hotel_imagen.nombre}`)
                                            br
                            else
                                td.col-2.text-danger Sin imágenes
                            td.col
                                a.btn.btn-primary.text-light(href=`/hotel/edit/${hotel.id_htl}`)  Modificar
                            td.col
                                a.btn.btn-danger.text-light(href=`/hotel/${hotel.id_htl}`)  Eliminar        