head
    link(rel="stylesheet", href="/css/bootstrap.css")
    link(rel="stylesheet", href="/css/home.css")
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="/css/publicidad.css")

    nav.nav.row.m-0.p-1.justify-content-between
        h2.h2 Hoteles Zacatlán
        h2 
            a.a(href="/") Iniciar Sesión
    .row.m-0 
        a.volver(href="/publicidad") Volver
    .row.m-0
        p.titleI.w-100.text-center Hotel #{hotel.nombre}
    .row.m-0.justify-content-around.align-items-center.cont
        .col-4.d-flex.flex-column.sideI
            .text.mb-4
                p.pI Dirección: #{hotel.direccion} 
                p.pI Correo: #{hotel.correo}
                p.pI Teléfono: #{hotel.telefono}
            .images
            each img in hotel.hotel_imagenes
                img.mb-3(src=`../img/hotel/${img.nombre}`)
        .col-4.sideI
            .text.mb-4
                p.pI Gerente: #{hotel.gerente.nombre} #{hotel.gerente.apellido_materno} #{hotel.gerente.apellido_paterno}
            .images 
                img(src=`../img/gerente/${imagen_gerente}`)        
        .col-4.sideI
                p.pI Habitaciones
                    each hab, index in hotel.habitaciones
                        p.pI  #{hab.tipo}
                        img(src=`../img/habitacion/${images[index]}`)

        