head
    link(rel="stylesheet", href="/css/bootstrap.css")
    link(rel="stylesheet", href="/css/home.css")
    link(rel="stylesheet", href="/css/style.css")
header.d-flex.justify-content-center.h-100.headerLogin
  .w-75.m-auto.formLogin.rounded.text-center
    h2.w-100.text-center Bienvenid@ a Hoteles Zacatlán
    .row.justify-content-center.m-0
        .col-md-8 
            form(action = "/home" method="POST")
                .form-group 
                    label(for="usuario") Usuario 
                    input#usuario(type="test",placeholder="Tu usuario",name="usuario",class="form-control")
                .form-group 
                    label(for="clave") Clave 
                    input#clave(type="password",placeholder="Tu clave",name="clave",class="form-control")
                button.btn.btnLogin(type="submit") Entrar