head
    link(rel="stylesheet", href="/css/bootstrap.css")
    link(rel="stylesheet", href="/css/home.css")
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="/css/publicidad.css")

    nav.nav.row.m-0.p-1.justify-content-between
        h2.h2 Hoteles Zacatlán
        h2 
            a.a(href="/") Iniciar Sesión
    .row#inicio.m-0.container-font
        img.font(src="img/zyro-image (1).png")
        h2.welcome Bienvenid@ a Hoteles Zacatlán
        .down 
            a(href="#visita") 
                img.arrow(src="img/arrowleft.png", alt="")
    .row.m-0#visita
        p.visita.w-100.text-center ¡Visita los mejores hoteles de Zacatlán!
    .row.m-0.justify-content-around
        - let rdm = 0;
        - let icon = 0;
        each hotel in hoteles
            .crd.col-10.col-md-8.m-1.mt-3.mb-3
                .row.m-0.p-0.text-container
                    .col-5.pt-4.side.d-flex.flex-column.align-items-center.justify-content-center
                        h4 Hotel #{hotel.nombre}
                        p #{hotel.direccion}
                        p Teléfono: #{hotel.telefono}
                        p Correo: #{hotel.correo}
                        
                    .col-3.p-0.d-flex.flex-column.align-items-center.justify-content-center.pt-4.pl-3
                        - rdm = Math.floor(Math.random() * (1000 - 500) + 500);
                        p Precio: 
                            span#precio $#{rdm}
                        - icon = Math.floor(Math.random() * (5 - 1) + 1);
                        p Categoría:
                            - for (var i = 0; i < icon; ++i) {
                                img.iconStar(src="img/iconStar.svg")
                            - }
                    .col-4.p-0
                        - var n = 0;
                        each imagen in hotel.hotel_imagenes
                            while n < 1
                                - n++ 
                                img.image-hotel(src=`../img/hotel/${imagen.nombre}`)
                    a(href=`/individual/${hotel.id_htl}`).btnSolicitar.btn Ver más
    .row.m-0.justify-content-end
        a(href="#inicio") 
            img.up(src="img/arrowleft.png")
