body {
    background-color: rgb(114, 42, 0);
}
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 20vh;
  background-color: rgb(187, 92, 37);
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 98%;
}
.span {
  color: white;
  font-size: 52px;
}

.buttons {
    margin-top: 100px;
}
.btn {
    background-color: rgb(187, 92, 37);
    transition: .3s linear;
    font-size: 20px;
}
.btn:hover {
    background-color: rgb(70, 26, 0);
    color: rgb(223, 130, 77);
}