.nav {
  padding: 1rem 2rem !important;
  background-color: #d12424;
  color: white;
  position: fixed;
  width: 100%;
  height: 8vh;
  z-index: 2;
}
.h2 {
    cursor: default;
}
.nav a {
  color: white;
  text-decoration: none;
}
.a::after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  background: #d67214;
  transition: 0.35s ease-in;
}
.a:hover::after {
  width: 100%;
}
.container-font {
    margin-top: 8vh;
    height: 100vh;
}
.font {
    margin-top: 8vh;
    height: 95vh;
    width: 100%;
    filter: grayscale(50%);
}
.welcome {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #eb882c;
    width: 60%;
    padding: 1rem 0;
    opacity: .8;
    color: white;
    font-size: 52px;
    border-radius: 10px;
}
.down {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 60%;
  cursor: pointer;
}
.arrow {
  border-radius: 50%;
  background-color: #d67214;
  opacity: .8;
  width: 55px;
  transform: rotate(-90deg);
  transition: .5s ease-in;
  animation: 1s down infinite alternate;
}
@keyframes down {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: 3rem;
  }
}
.down:hover .arrow, .down:active .arrow{
  animation: none;
}
.visita {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
  font-size: 4rem;
  color: #3d2106;
  margin: 6rem 0 4rem 0;
}
.crd {
  box-shadow: 2px 2px 17px -5px #d67214;
  -webkit-box-shadow: 2px 2px 17px -5px #d67214;
  -moz-box-shadow: 2px 2px 17px -5px #d67214;
  min-height: 18rem;
  padding: 0;
  color: black;
  text-align: left;
  overflow: hidden;
}

.text-container {
  width: 100%;
  height: 100%;
  line-height: 26px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transition: .4s linear;
}
p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 100%;
  color: black;
  text-align: left;
  opacity: .8;
}
h4 {
  width: 100%;
  text-align: left;
  color: black;
  opacity: 1;
}
.image-hotel {
  width: 100%;
  height: 100%;
  transition: .4s linear;
}
.btnSolicitar {
  background-color: #d67214;
  width: 100%;
  opacity: 1;
  color: white;
  transition: .4s ease-out;
  border: none;
  padding: .7rem 0;
  position: absolute;
  margin-top: 22rem;
}
.side {
  border-right: thin solid #926234;
  padding-left: 2rem !important;
  transition: .4s linear;
}

.crd:hover .btnSolicitar {
  opacity: 1;
  margin-top: 15rem;
}
#rdm {
  color: black;
}
.iconStar {
  width: 20px;
}
.up {
  width: 55px;
  transform: rotate(90deg);
  margin: 3rem 3rem 3rem 0;
  background-color: #d67214;
  border-radius: 50%;
}

.titleI {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 100;
  font-size: 4rem;
  color: black;
  margin-bottom: 2rem;
}
.pI {
  font-size: 1.8rem;
  text-align: center;
}
.sideI {
  border-right: thin solid#3d2106 ;
  height: 100%;
  overflow-y: auto;
}
.volver {
  margin-top: 5rem;
  color: black;
  font-size: 22px;
  margin-left: 1rem;
  text-decoration-line: underline;
}
.cont {
  height: 70% !important;
}