/* Estilos header */

@import url("../BebasNeue-Regular.ttf");

* {
  scroll-behavior: smooth;
  font-family: BebasNeue-Regular;
  text-align: center;
  color: #6e3906;
}
.navegacion {
  /* background-color: #804000; */
  background-color: #663d00;
  display: flex;
  align-items: center;
}
.navColor,
.navColor a {
  color: #fff;
}
.navColor a {
  cursor: default;
  padding-bottom: 0;
}
.a:hover {
  color: #fff;
  text-decoration: none;
}
.h2 {
  cursor: pointer;
  margin: 0;
}
.nav-h2::after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  background: #d36600;
  transition: 0.35s ease-in;
}
.nav-h2:hover::after {
  width: 100%;
}

/* Estilos tarjetas de hoteles */
.name {
  font-size: 20px;
}
.add {
  font-size: 40rem !important;
  cursor: pointer;
  transition: 0.3s linear;
  transform: scale(1);
}
.add:hover {
  transform: scale(1.1) rotate(90deg);
}
/* tr:hover {
  background-color: #d48a44 !important;
} */
.tin {
  font-size: 18px;
  padding: 0 !important;
  margin: 0 !important;
}
.card {
  background-image: url(../img/hotel.jpg);
  background-size: cover;
  height: 45vh;
  border-radius: 8px;
  padding: 0 !important;
}
.card:hover {
  transition: 0.3s linear;
}
.card-content {
  color: white;
  transition: 0.3s linear;
  margin: auto;
  width: 90%;
  height: 90%;
  background-color: #663d00;
  opacity: 0.7;
  cursor: default;
  font-size: 23px;
  font-weight: 400;
}
.card-content:hover {
  height: 100%;
  width: 100%;
  opacity: 0.85;
}

body {
  background-color: rgb(255, 151, 81);
}

.btn1 {
  opacity: 0;
  margin-bottom: -80px !important;
  transition: 0.4s linear;
  cursor: pointer;
}
.card-content:hover .btn1 {
  margin-bottom: 0 !important;
  opacity: 1;
}
dialog {
  text-align: center;
  width: 55%;
  border-radius: 8px;
  border: 2px solid #663d00;
  background-image: url(../img/Zacatlán.jfif);
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.5s linear;
}
.span {
  color: #6e3906;
  text-decoration-line: underline;
}
.form {
  font-size: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  display: inline-block;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #666;
  opacity: 0.8;
}
input {
  background-color: transparent;
  border: none;
  border-bottom: 4px double #6e3906;
  outline: none;
  text-align: center;
}
::placeholder {
  color: #000;
}
.input:focus {
  outline: none;
  border-bottom: 1px solid #fff;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
.bb {
  background-color: transparent;
  border: none;
}
.bb:focus {
  outline: none;
}
.select {
  outline: none;
  background-color: transparent !important;
  padding: 10px;
  border: none;
  border-bottom: 4px double #6e3906;
}
#selectO * {
  background-color: rgb(255, 151, 81);
}
.txtLabel {
  font-size: 25px;
}
.labelInput:focus {
  background-color: #0000ff !important;
}
.check {
  display: none;
}
.span {
  text-decoration-line: none;
}
.contenedor {
  position: relative;
  width: 100%;
  position: relative;
}
.form-group {
  background-color: transparent !important;
}
[type=checkbox] {
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 4px !important;
  color: dodgerblue;
  vertical-align: middle;
  -webkit-appearance: none;
  background: none;
  border: 0;
  outline: 0;
  flex-grow: 0;
  border-radius: 50%;
  background-color: rgb(255, 151, 81);
  transition: background 300ms;
  cursor: pointer;
}

[type=checkbox]::before {
  content: "";
  color: transparent;
  display: block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  border: 0;
  background-color: transparent;
  background-size: contain;
  box-shadow: inset 0 0 0 1px #CCD3D8;
}

[type=checkbox]:checked {
  background-color: #6e3906;
}

[type=checkbox]:checked::before {
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}

[type=checkbox]:disabled {
  background-color: #CCD3D8;
  opacity: 0.84;
  cursor: not-allowed;
}


.select-btn {
  height: 3rem;
  padding: 0 0.3rem 0 1.6rem;
  border-radius: 0.3rem;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.25rem;
}

.item {
  color: #000 !important;
  margin-bottom: 10px;
}
.select-btn .btn-text {
  font-weight: 400;
  color: #333;
}
.select-btn .arrow-dwn {
  display: flex;
  flex-direction: column;
  height: 1.1rem;
  width: 1.1rem;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition-property: transform;
  transition-duration: 0.3s;
}
.select-btn.open .arrow-dwn {
  transform: rotate(-180deg);
}
.list-items {
  width: 100%;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 26px;
  display: block;
}
.hbt {
  border-radius: 8px;
  transition: 0.3s linear;
}
.slc {
  border-bottom: 3px double #6e3906;
}
.list-items label {
  width: 100%;
  padding: 0 3rem;
  margin-top: 3px;
}
.list-items label:not(.disabled):hover {
  border-radius: 0;
  border-bottom: thin solid #d36600;
}
.alert {
  font-size: 18px !important;
}
.imageEditHotel {
  width: 100px !important;
}
.headerLogin {
  background-color: #fff;
}
.form {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 0 2rem;
}
.formLogin {
  padding: 3rem 0;
  border-radius: 20px !important;
  border: 6px double #0275d8;
}
.btnLogin {
  background-color: #0275d8;
  color: white;
  width: 100%;
}
.btnLogin:hover {
  background-color: #fff;
  color: #0275d8;
  border: 1px solid #0275d8;
}
.img-content {
  max-height: 4rem;
}
.p2 {
  padding-right: 0 !important;
  overflow-y: auto;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 6px;
  background-color: #d36600;
}
::-webkit-scrollbar-thumb {
  background-color: #6e3906;
}
.img {
  margin-left: 0 !important;
}
#myFiles {
  opacity: 0;
  background-color: yellow;
  height: 10rem;
  z-index: 2;
}
.content-upload {
  cursor: pointer;
  border: 4px dotted #6e3906;
  margin-top: -10rem;
  margin-bottom: 20px;
  border-radius: 16px;
  height: 10rem;
}
.content-upload:hover {
  opacity: .7;
}
.upload {
  width: 50px;
}
.btnEdit, .btnDelete {
  width: 40%;
}
.textExplain {
  font-size: 22px;
}