header
    .navegacion.shadow
        .container 
            .row.justify-content-center.justify-content-md-between.align-items-center.py-4
                .col-4
                    a.navColor.a(href="/home")
                        h2.h2 Hoteles Zacatlán Puebla
                .col-8
                    nav.mt-5.mt-md-0.nav.justify-content-center.align-items-center.navColor
                        a.nav-link.li(href="/hotel") 
                            h4.nav-h2 Hoteles
                        a.nav-link.li(href="/gerente") 
                            h4.nav-h2 Gerentes
                        a.nav-link.li(href="/habitacion") 
                            h4.nav-h2 Habitaciones
                        a.nav-link.li(href="/cerrarSesion") 
                            h4.nav-h2 Cerrar Sesión